{% extends 'base.html' %}

{% block title %} Google Images {% endblock %}

{% block icon %}
	https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png
{% endblock %}

{% block link %}
	https://www.google.co.in/imghp?hl=en&authuser=0&ogbl
{% endblock %}

{% block content %}
<p class="lead">
	<form method="POST" target="_blank">
		<div class="form-group">
			<label for="select-options">Select what you want scraped</label>
			<select name="topic" class="form-control" id="select-options">
				<option>Doctors</option>
				<option>Hospitals</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>
{% endblock %}