{% extends 'base.html' %}

{% block title %} Orcid {% endblock %}

{% block icon %}
	https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
{% endblock %}

{% block link %}
	https://orcid.prg/
{% endblock %}

{% block content %}
<p class="lead">
	<form method="POST">
		<div class="form-group">
			<label for="orcid-user">Enter your username</label>
			<textarea name="orcid-user" class="form-control" id="orcid-user" rows="1" required></textarea>
		</div>

		<button type="submit" class="btn btn-primary" data-toggle="popover" data-content="Processing your request...">Submit</button>
	</form>
</p>
{% endblock %}
